<!DOCTYPE html>
<html>
  <head>
    <title>Accord</title>
     <meta property="og:title" content="Project Title" />
     <meta property='og:image' content="<%= image_url('default_avatar.png') %>"/>
     <meta property="og:description"
       content="A brief description of your project."
     />
     <meta property="og:url"
       content="https://accord-app.herokuapp.com/"
      />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="icon" href=<%= image_url('title_icon.png') %>  type="image/icon type">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= current_user_assignment %>
    <% end %>
    <script>
      window.defaultServerImg = "<%= image_url('server_img_upload.png') %>";
      window.brokenBg = "<%= image_url('error_404.png') %>";
      window.logoUrl = "<%= image_url('splash_logo_white.png') %>";
      window.defaultAvatarUrl = "<%= image_url('default_avatar.png') %>";
      window.backgroundImg = "<%= image_url('vg_background.png') %>";
      window.placeholderImg = "<%= image_url('placeholder.png') %>";
      window.loginIcon = "<%= image_url('enter.svg') %>";
      window.linkedinLogo = "<%= image_url('linkedin_logo.png') %>";
      window.githubLogo = "<%= image_url('github_logo.png') %>";
      window.error404Img = "<%= image_url('error_404.png') %>";
      window.loadingImg = "<%= image_url('ripple_load.gif') %>";
      window.construction = "<%= image_url('construction.png') %>"
      window.splash2 = "<%= image_url('accord-2.png') %>"
      window.splash3 = "<%= image_url('accord-3.png') %>"
      window.splash4 = "<%= image_url('accord-4.png') %>"
      window.splash5 = "<%= image_url('accord-5.png') %>"
      // https://pngimg.com/image/50746
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
