<!DOCTYPE html>
<html>
  <head>
    <title>Accord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="icon" href=<%= image_url('title_icon.png') %>  type="image/icon type">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= current_user_assignment %>
    <% end %>
    <script>
      window.brokenBg = "<%= image_url('error_404.png') %>";
      window.logoUrl = "<%= image_url('splash_logo_white.png') %>";
      window.defaultAvatarUrl = "<%= image_url('default_avatar.png') %>";
      window.backgroundImg = "<%= image_url('vg_background.png') %>";
      window.placeholderImg = "<%= image_url('placeholder.png') %>";
      window.loginIcon = "<%= image_url('enter.svg') %>";
      window.linkedinLogo = "<%= image_url('linkedin_logo.png') %>";
      window.githubLogo = "<%= image_url('github_logo.png') %>";
      window.error404Img = "<%= image_url('error_404.png') %>";
      window.loadingImg = "<%= image_url('loading.gif') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
