<!DOCTYPE html>
<html>
  <head>
    <title>Accord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= current_user_assignment %>
    <% end %>
    <script>
      window.logoUrl = "<%= image_url('splash_logo_white.png') %>"
      window.defaultAvatarUrl = "<%= image_url('default_avatar.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
